* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Comic Sans, Helvetica, sans-serif;
}

.iniciotopo {
  overflow: hidden;
  background-color:black;
  padding: 20px 10px;
}
.meiopag {
  overflow: hidden;
  background-color: dodgerblue;
  padding: 20px 10px;
}

.iniciotopo a {
  float: left;
  color: white; 
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

/* caso queira colocar a logo imagem */
.iniciotopo img.logo {
  width:150px;
  height: 150px;
}


.iniciotopo a.logo {
  font-size: 25px;
  font-weight: bold;
}

.iniciotopo a:hover {
  background-color: #ddd;
  color: black;
}

.iniciotopo a.active {
  background-color: dodgerblue;
  color: white;
}

.iniciotopo-right {
  float: right;
}

div.fotos {
  margin: 80px;
  border: 10px solid #ccc;
  float: left;
  width: 280px;
}

div.fotos:hover {
  border: 10px solid #777;
}

div.fotos img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 30px;
  text-align: center;

/* aplicar caso a resolução for menor de 500px */
@media screen and (max-width: 500px) {
  .iniciotopo a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .iniciotopo-right {
    float: none;
  }
}
.bordafinal {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}